<div class=" bg-[--main-color] w-full md:p-10 py-7 mx-auto text-center">
  <app-head-button>Contact Me</app-head-button>
  <form (submit)="onSubmit()" class="flex justify-center  sm:gap-3 sm:flex-row flex-col items-center sm:items-start mx-5">
    <mat-form-field class="sm:w-[18.75rem]">
      <mat-label>Message...</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div class="flex flex-col sm:w-[31.25rem] ">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input  type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="sm:w-[20rem] w-full">

        <button
        class="w-full"
        disabled="true"
         mat-raised-button color="primary">Submite</button>
      </div>
    </div>


  </form>


</div>
<app-line></app-line>
<div class="h-[4rem]  text-[--second-color] text-lg items-center flex justify-center">


  &copy;2023 <span class="mx-2 text-[--red-color]">Islam</span> All Right Reserved

</div>

