
<mat-toolbar [ngClass]="{ 'hidden':showHeader}">
  <div class="flex  justify-between w-full sm:mx-[5rem] sm:flex-row flex-col items-center p-5 sm:p-0 h-full">
  <div class="text-[--red-color] text-[2rem]">
    Islam
  </div>
  <div class="sm:text-[1.4rem] flex-wrap">
  <a class="ml-3 " href="#EduAndSkills">Edu and Skills</a>
  <a class="ml-3" href="#Projects">Projects</a>
  <a class="ml-3" href="#SocialMedia">Social Media</a>
  <a class="ml-3" href="#ContactMe">Contact Me</a>
  </div>
  </div>
</mat-toolbar>
