
<mat-toolbar [ngClass]="{ 'hidden':showHeader}">
  <div class="flex  justify-between w-full sm:mx-[5rem] sm:flex-row flex-col items-center p-5 sm:p-0 h-full">
  <div class="text-[--red-color] text-[2rem]">
    Islam
  </div>
  <div class="sm:text-[1.4rem] ">

  <a class="sm:ml-3 ml-2 " href="#EduAndSkills">Skills</a>
  <a class="sm:ml-3 ml-2" href="#Projects">Projects</a>
  <a class="sm:ml-3 ml-2" href="#SocialMedia">Social</a>
  <a class="sm:ml-3 ml-2" href="#ContactMe">Contact</a>
  </div>
  </div>
</mat-toolbar>
