<div class=" bg-[--main-color] w-full md:p-10 py-7 mx-auto text-center">
  <app-head-button>Projects</app-head-button>
  <mat-grid-list rowHeight="25rem" [cols]="gridCols" gutterSize="8">
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>


  </mat-grid-list>

</div>
<app-line></app-line>
