<mat-card
*ngIf="project"

class="w-[15rem] sm:w-[20rem] custom-card p-2 mx-2 cursor-pointer rounded-[4px]


" (click)="moreInfo(project)">
  <!-- <a href="https://www.smartsuq.com" target="_blank"> -->

  <div class="w-full mb-8 mx-auto" >
    <img class="w-[96%] sm:w-full"  [src]="project.images[0]" alt="{{project.title}}">
  </div>
  <mat-card-content class="text-[1.5rem] leading-8">
    {{project.title}} <span class="text-[1.1rem] leading-[.1rem] border-b-2 text-gray-600">more info..</span>

  </mat-card-content>
  <!-- </a> -->

</mat-card>

<!-- <app-dialog-content></app-dialog-content> -->
