/* You can add global styles to this file, and also import other style files */
:root {
  --main-color:#303030;
  --second-color:#ffffff;
  --red-color:#E23237;
}
html, body { height: 100%;background-color: var(--main-color);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;scroll-behavior:'smooth'; }
@tailwind base;
@tailwind components;
@tailwind utilities;




